*{
    box-sizing: border-box;
}

html,
body{
    margin:0;
    padding:0;
    background-color: #FFF;
    font-size:16px;
}

a:link,
a:visited,
a:hover{
    color:#008cff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.article{
    margin:0 auto;
    padding:40px;
    box-sizing: border-box;
    overflow:hidden;
}

.article-title{
    text-align:center;
    font-size:2em;
}

.article-meta{
    margin:0 auto;
    padding:20px 15px 15px;
    border-top:1px solid #DDD;
    overflow:hidden;
}

.article-meta li{
    line-height:1.5em;
}

.article-content{
    padding:1em 0;
    line-height:1.5em;
}

.image{
    text-align:center;
}

.code{
    margin: 2em auto;
    border:1px solid #ddd;
    background-color:#f4f5f9;
    padding:1.5em;
    font-size:14px;
    font-family: 'Courier New', "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:hidden;
}

.copyright{
    text-align:center;
    font-family: 'Courier New', "Helvetica Neue", Helvetica, Arial, sans-serif;
}