.api-section {
  margin: 1.5em auto;
  @include overflow(hidden);
}

.api-chanel {
  font-size: 2em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  color: $blue;
}

.api-md {
  margin: 1em 0;
  @include overflow(hidden);
}

.api-hd,
.api-bd,
.api-ft {
  margin: 0 auto;
  padding: 0 3em;
  @include overflow(hidden);
}

.api-title {
  font-size: 20px;
}

.api-title,
.api-param-name {
  color: #666;
}

.api-subject {
  color: #999;
}

.api-param {
  position: relative;
  z-index: 1;
  @include overflow(hidden);
}

.api-param-name {
  color: $blue;
}

.api-param-key {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80px;
  margin: 0;
  @include overflow(hidden);
}

.api-param-value {
  position: relative;
  z-index: 1;
  margin: 0 0 0 80px;
  @include overflow(hidden);
}

.api-code {
  margin: 2em 0;
  padding: 1em;
  font-size: 14px;
  line-height: 200%;
  text-align: left;
  background-color: $light-gray;
  border: 1px solid $gray;
  color: #666;
  @include overflow(auto);

  code {
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: Georgia, sans-serif;
    @include overflow(hidden);
  }
}