div#option-hasDirectoryInArticle.api-md
    div.api-hd
        h3.api-title hasDirectoryInArticle
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Boolean
        dl.api-param
            dt.api-param-key Default：
            dd.api-param-value false
        p 可选，用来指定是否在文章（开始位置）中创建目录导航。
        h4 Usage
        h5 No directory navigation in the article
        pre.api-code
            code.
                new AutocJS({
                    article: '#article'
                    // 不配置 hasDirectoryInArticle 属性，就不会创建索引导航
                });
        h5 Has directory navigation in the article
        pre.api-code
            code.
                new AutocJS({
                    article: $('#article'),
                    hasDirectoryInArticle: true
                    ...
                });