div.api-section
    h2.api-chanel Configuration Options
    include article
    include selector
    include title
    include isAnchorsOnly
    include isAnimateScroll
    include hasChapterCodeAtHeadings
    include hasChapterCodeInDirectory
    include hasDirectoryInArticle