doctype html
html(lang="en")
    - params = ["str"];
    head
        include ../meta
        title camelCase ( #{params[ 0 ]} )
        include inc/styles
    body
        div#wrap.wrap
            h1.header camelCase ( #{params[ 0 ]} )
            include inc/params/source
            include inc/params/result
            include inc/footer

    script(type="text/javascript" src="../js/jquery.min.js")
    script(type="text/javascript" src="../js/camelCase.js")
    script(type="text/javascript").
        (function () {
            var $source = $( '#source' ),
                $result = $( '#result' );

            function handler () {
                var str = $.trim( $source.val() );
                var result = camelCase( str );

                $result.val( result );
            }

            $source.on( "input propertychange", handler );
        })();