div#property-data.api-md
    div.api-hd
        h3.api-title data
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p 存储的是 AutocJS 根据标题 DOM 元素分析的数据：
        dl.api-param
            dt.api-param-key chapters：
            dd.api-param-value 标题章节索引数据，单个的 chapter 数据格式如下：
        pre.api-code
            code.
                {
                   // id 编号
                   d: 0,
                   // 标题节点标签的层级级别
                   level: 1,
                   // 标题节点的文字
                   text: '文章标题',
                   // 标题节点 tagName.toUpperCase()
                   tag: 'H1',
                   // 标题节点的父级节点　id 编号
                   pid: 0,
                   // 标题外部链接
                   rel: 'http://www.yaohaixiao.com/'
                }
        dl.api-param
            dt.api-param-key anchors：
            dd.api-param-value 各个标题对应的标题锚点链接 DOM 元素
        dl.api-param
            dt.api-param-key list：
            dd.api-param-value chapters 数据按 pid 属性分组后的章节索引数据
        p 说明：建议分辨使用 chapters()、anchors() 和 list() 方法来获取对应的数据。