div#property-defaults.api-md
    div.api-hd
        h3.api-title defaults
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p 静态属性，存储的是 AutocJS 对象默认配置选项：
        dl.api-param
            dt.api-param-key article：
            dd.api-param-value 页面中显示文章正文的 DOM 节点或者 ID 选择器。
        dl.api-param
            dt.api-param-key selector：
            dd.api-param-value article 节点下，要生成导航的标题标签的选择器。
        dl.api-param
            dt.api-param-key title：
            dd.api-param-value AutocJS 自动创建的导航菜单标题文字。
        dl.api-param
            dt.api-param-key isAnchorsOnly：
            dd.api-param-value 是否只创建标题链接。
        dl.api-param
            dt.api-param-key isAnimateScroll：
            dd.api-param-value 是否使用动画滚动定位。
        dl.api-param
            dt.api-param-key hasDirectoryInArticle：
            dd.api-param-value 是否在文章中创建目录导航。
        dl.api-param
            dt.api-param-key hasChapterCodeAtHeadings：
            dd.api-param-value 是否在文章标题中显示该标题的段落索引编号。
        dl.api-param
            dt.api-param-key hasChapterCodeInDirectory：
            dd.api-param-value 是否在导航菜单中显示段落索引编号。