div#property-elements.api-md
    div.api-hd
        h3.api-title elements
    div.api-bd
        h4 Description
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value Object
        p 存储的是 AutocJS 对象相关的 DOM 元素：
        dl.api-param
            dt.api-param-key article：
            dd.api-param-value 文章正文内容容器 DOM 元素
        dl.api-param
            dt.api-param-key headings：
            dd.api-param-value 文章中的所有（selector 匹配）的标题 DOM 元素
        dl.api-param
            dt.api-param-key chapters：
            dd.api-param-value 将 hasDirectoryInArticle 参数设置为 true 时，在文章正文开始处创建的目录导航列表 DOM 节点
        dl.api-param
            dt.api-param-key wrap：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的根节点
        dl.api-param
            dt.api-param-key header：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的标题栏 DOM 节点
        dl.api-param
            dt.api-param-key body：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的正文内容 DOM 节点
        dl.api-param
            dt.api-param-key list：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的列表 DOM 节点
        dl.api-param
            dt.api-param-key footer：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的页脚 DOM 节点
        dl.api-param
            dt.api-param-key switcher：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的隐藏显示开关 DOM 节点
        dl.api-param
            dt.api-param-key top：
            dd.api-param-value AutocJS 对象创建的目录导航菜单中的返回顶部 DOM 节点
        dl.api-param
            dt.api-param-key overlay：
            dd.api-param-value AutocJS 对象创建的目录导航菜单的遮罩层 DOM 节点
        p 说明：建议使用 dom() 方法来获取 elements。