body {
    background-color: #F4F5F5;
    font-size: 14px;
    font-family: Consolas, Arial, sans-serif;
}

a:link,
a:visited,
a:hover {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #43A2d2;
    text-decoration: none;
}

/* Hack for the browsers with webkit based */
/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    background-color: #CCC;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    height: 50px;
    -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.api-header {
    position: relative;
    z-index: 1;
    margin: 0 2rem;
    padding: 0 1rem;
    overflow: hidden;
}

h1.api-project {
    float: left;
    font-size: 40px;
    text-shadow: 4px 3px 0 #DDD, 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.api-navigation {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin: -25px 0 0;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.api-navigation,
.api-navigation li {
    list-style-type: none;
}

.api-navigation li {
    float: left;
    margin: 0;
    font-size: 20px;
    height: 50px;
    padding: 0 1rem;
    font-weight: bold;
    text-shadow: 4px 3px 0 #DDD, 2px 4px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.api-navigation a:link,
.api-navigation a:visited,
.api-navigation a:hover {
    text-decoration: none;
}

.api-navigation li.api-active a:link,
.api-navigation li.api-active a:visited,
.api-navigation li.api-active a:hover {
    color: #008cff;
}

.api-wrap {
    margin: 0 2rem 2rem;
    padding: 3rem 2rem 2rem;
    background-color: #FFF;
    box-shadow: -1px 2px 12px #D3D3D3;
    line-height: 1.5rem;
}

.api-wrap p {
    text-indent: 2rem;
}

h1.api-subject {
    text-align: center;
    font-size: 30px;
}

.api-container {
    margin: 0;
    padding: 2rem 1rem;
    overflow: hidden;
}

.api-content {
    margin: 0;
    padding: 1.2rem;
    overflow: hidden;
    clear: both;
}

.api-wrap p.api-image {
    text-align: center;
    text-indent: 0;
}

.api-list,
.api-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.api-list li {
    float: left;
    width: 20%;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    overflow: hidden;
}

.api-list li:hover {
    background-color: #F8F8F8;
}

.api-key {
    padding: 0 10px;
}

.api-item {
    margin: 1rem auto;
    overflow: hidden;
    clear: both;
}

.api-code {
    background-color: #F8F8F8;
    border: 1px solid #dedede;
}

.api-code code {
    font-size: 14px;
    display: block;
    padding: 1.5rem;
    font-family: Consolas, Arial, sans-serif;
    line-height: 1.5rem;
}

.api-demo {
    margin: 0;
    overflow: hidden;
}

.api-params {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    line-height: 32px;
    overflow: hidden;
}

.api-params dt {
    position: absolute;
    z-index: 2;
    margin: 0;
    width: 220px;
    height: 32px;
    font-weight: bold;
    overflow: hidden;
}

.api-params dd {
    margin: 0 0 0 220px;
    overflow: hidden;
}

.api-field,
.api-half-field {
    float: left;
    margin: 0;
    overflow: hidden;
}

.api-half-field {
    width: 50%;
}

.api-options,
.api-option {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.api-option {
    position: relative;
    z-index: 1;
    height: 42px;
    line-height: 42px;
}

.api-radio,
.api-label {
    cursor: pointer;
}

.api-radio {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin: -7px 0 0;
    overflow: hidden;
}

.api-label {
    position: relative;
    z-index: 1;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    margin-left: 19px;
}

.api-header,
.api-footer {
    text-align: center;
}

.api-footer {
    padding-bottom: 1rem;
}