body {
    background-color: #F4F5F5;
    font-size: 14px;
    font-family: Consolas, Arial, sans-serif;
}

a:link,
a:visited,
a:hover {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #43A2d2;
    text-decoration: none;
}

.wrap {
    margin: 2rem;
    padding: 2rem;
    background-color: #FFF;
    box-shadow: -1px 2px 12px #D3D3D3;
}

.container {
    margin: 2rem 1rem;
    overflow: hidden;
}

.content {
    margin: 1rem;
    overflow: hidden;
}

.introduction {
    line-height: 1.5rem;
}

.introduction p {
    text-indent: 2rem;
}

.api-list,
.api-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.api-list li {
    float: left;
    width: 20%;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}

.item {
    margin: 1rem auto;
    overflow: hidden;
    clear: both;
}

.code {
    background-color: #F8F8F8;
    border: 1px solid #dedede;
}

.code code {
    font-size: 14px;
    display: block;
    padding: 1.5rem;
    font-family: Consolas, Arial, sans-serif;
    line-height: 1.5rem;
}

.demo {
    margin: 0;
    overflow: hidden;
}

.params {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    line-height: 32px;
    overflow: hidden;
}

.params dt {
    position: absolute;
    z-index: 2;
    margin: 0;
    width: 220px;
    height: 32px;
    font-weight: bold;
    overflow: hidden;
}

.params dd {
    margin: 0 0 0 220px;
    overflow: hidden;
}

.header,
.footer {
    text-align: center;
}