meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(content="telephone=no", name="format-detection")
meta(name="description" content="autoc.js - Automatically create directory navigation for your article.")