doctype html
html(lang="en")
    head
        include ../meta
        title="autoc.js - Automatically create directory navigation for your article."
        include inc/styles
    body
        div#wrap.wrap
            include inc/side
            include inc/main

    script(type="text/javascript" src="js/jquery.js")
    script(type="text/javascript" src="js/autoc.min.js")
    script(type="text/javascript").
        (function () {
            new AutocJS( {
                article: '#main',
                isAnchorsOnly: true
            } );
        })();