h3.chanel Public Methods
ul.methods
    li.method
        a(href="index.htm#method-get") get
    li.method
        a(href="index.htm#method-set") set
    li.method
        a(href="index.htm#method-article") article
    li.method
        a(href="index.htm#method-headings") headings
    li.method
        a(href="index.htm#method-anchors") anchors
    li.method
        a(href="index.htm#method-chapters") chapters
    li.method
        a(href="index.htm#method-list") list
    li.method
        a(href="index.htm#method-dom") dom
    li.method
        a(href="index.htm#method-index") index
    li.method
        a(href="index.htm#method-render") render
    li.method
        a(href="index.htm#method-resize") resize
    li.method
        a(href="index.htm#method-scrollTo") scrollTo
    li.method
        a(href="index.htm#method-show") show
    li.method
        a(href="index.htm#method-hide") hide
    li.method
        a(href="index.htm#method-toggle") toggle
    li.method
        a(href="index.htm#method-destroy") destroy
    li.method
        a(href="index.htm#method-reload") reload