h3.chanel Configuration Options
ul.methods
    li.method
        a(href="index.htm#option-article") article
    li.method
        a(href="index.htm#option-selector") selector
    li.method
        a(href="index.htm#option-title") title
    li.method
        a(href="index.htm#option-isAnchorsOnly") isAnchorsOnly
    li.method
        a(href="index.htm#option-isAnimateScroll") isAnimateScroll
    li.method
        a(href="index.htm#option-hasChapterCodeAtHeadings") hasChapterCodeAtHeadings
    li.method
        a(href="index.htm#option-hasChapterCodeInDirectory") hasChapterCodeInDirectory
    li.method
        a(href="index.htm#option-hasDirectoryInArticle") hasDirectoryInArticle