h3.chanel Properties
ul.methods
    li.method
        a(href="index.htm#property-defaults") defaults
    li.method
        a(href="index.htm#property-attributes") attributes
    li.method
        a(href="index.htm#property-elements") elements
    li.method
        a(href="index.htm#property-data") data