div#method-list.api-md
    div.api-hd
        h3.api-title list()
    div.api-bd
        h4 Description
        p list() 方法返回 data.list （data.chapters 属性按 pid 分组的二维数组）属性。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value {Array}
        p data.chapters 属性按 pid 分组的二维数组。