div#method-render.api-md
    div.api-hd
        h3.api-title render()
    div.api-bd
        h4 Description
        p render() 方法用来绘制 UI 界面：
        ol
            li 绘制文章开始出的目录导航；
            li 绘制标题栏的锚点链接和标题段落索引编码；
            li 绘制侧边栏的目录导航菜单；
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value {AutocJS}
        p AutocJS 对象。