div#method-resize.api-md
    div.api-hd
        h3.api-title resize()
    div.api-bd
        h4 Description
        p resize() 方法会根据当前窗口高度更新侧边栏菜单界面高度。
        h4 Returns
        dl.api-param
            dt.api-param-key Type：
            dd.api-param-value {AutocJS}
        p AutocJS 对象。