div.api-section
    h2.api-chanel Public Methods

    include get
    include set
    include article
    include headings
    include anchors
    include chapters
    include list
    include dom
    include index
    include render
    include resize
    include scrollTo
    include show
    include hide
    include toggle
    include destroy
    include reload